/* styles.css */
.container {
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
}

.title {
    color: darkblue;
    font-size: 24px;
}

h2{
    color: darkblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
}
